*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #FFFFFF;
    display: flex;
    align-items:center;
    justify-content: space-evenly;

}


/*  nav bar logo */


.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("./assets/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}


/* nav bar box address box */




.address-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
    


}

.address-second{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon{
    display: flex;
    align-items: center;
    line-height: normal;
}

.nav-address{
    height: 50px;
    width: 100px;
}


/* nav search */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-select{
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #F3A846;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange ;

}

/* hello sign &  nav return  */

span{
    font-size: 0.7rem;
    line-height: 0.72rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 0.72rem;
}

.nav-signin{
    height: 50px;
    
}


.nav-return{
    height: 50px;
    
}


/* nav cart */
.nav-cart{
    display: flex;
    font-size: o.85px;
    font-weight: 700;
    height: 50px;
    align-items: center;
    margin-bottom: 7px;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart p {
    margin-top: 17px;
    margin-left: 3px;
}


/*  panel */ 


.panel{
    height: 40px;
    background-color: #222F3E;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

/* .panel-all {
    display: inline;
} */

.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: bold;
}

/* heroo section*/


.hero-section{
    background-image: url("assets/hero.jpg");
    background-size: cover;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}