*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: #E3E6E6
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #FFFFFF;
    display: flex;
    align-items:center;
    justify-content: space-evenly;

}


/*  nav bar logo */


.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("./assets/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}


/* nav bar box address box */




.address-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
    


}

.address-second{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon{
    display: flex;
    align-items: center;
    line-height: normal;
}

.nav-address{
    height: 50px;
    width: 100px;
}


/* nav search */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-select{
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #F3A846;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange ;

}

/* hello sign &  nav return  */

span{
    font-size: 0.7rem;
    line-height: 0.72rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 0.72rem;
}

.nav-signin{
    height: 50px;
    
}


.nav-return{
    height: 50px;
    
}


/* nav cart */
.nav-cart{
    display: flex;
    font-size: o.85px;
    font-weight: 700;
    height: 50px;
    align-items: center;
    margin-bottom: 7px;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart p {
    margin-top: 17px;
    margin-left: 3px;
}


/*  panel */ 


.panel{
    height: 40px;
    background-color: #222F3E;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

/* .panel-all {
    display: inline;
} */

.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: bold;
}

/* heroo section*/

/* 
.hero-section{
    background-image: url("assets/hero.jpg");
    background-size: cover;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-message a{
    color: #2162A1 ;
} */
.hero-slider{
    display: flex;
    overflow-y: hidden;
}
.heroimages{
    max-width: 100%;
    cursor: pointer;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.hero-slider  a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding:5vh 1vw;
    background-color: #FFFFFF;
    color: #0E0F0D;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;

} 

.control-next{
    right: 0 ;
}




/* shoping section */


.shop-section{
    display: flex;
    justify-content: space-evenly ;
    background-color: #FFFFFF;
    align-items:space-evenly ;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -20vw;
    background-color: #E3E6E6
    
} 

.box{
    height : 430px;
    width: 23%;
    background-color:white;
    padding: 15px;
    margin-bottom: 25px;
    z-index: 1;
} 

.box1image{
    /* display: block; */
    object-fit: cover;
    height: 335px;
    width: 95%;

    /* margin-right: px; */
    /* margin: 100px; */
}
.box2image{
    display: block;
    object-fit: cover;
    height: 295px;
    width: 95%;
    margin-bottom: 16.5px;
}
.box3image{  
    display: block;
    object-fit: cover;
    margin-top: 5px;
    height: 335px;
    width: 95%;

}
.box4image{    
    display: block;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 310px;
    width: 95%;
}

.box5image{
    display: block;
    object-fit: cover;
    height: 310px;
    width: 95%;

}
.box6image{
    display: block;
    object-fit: cover;
    height: 310px;
    width: 95%;

}
.box7image{
    display: block;
    object-fit: cover;
    height: 310px;
    width: 95%;

}
.box8image{
    display: block;
    object-fit: cover;
    height: 310px;
    width: 95%;
}

.lbox{
    width: 97%;
    height: 250px;
    background-color: white;

} 






